.bg-img {
  background-image: url("https://i.ibb.co/tZWGxq8/Blue-Liquid-Art-Design-Gallery-Intro-Video-3.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
}
